.comment {
	border: .0625rem solid #ccc;
	border-radius: .5rem;
}

.comment .header {
	display: flex;
	justify-content: space-between;

	padding: .5rem 1rem;

	border-bottom: .0625rem solid #ccc;
}

.comment .content {
	padding: 1rem;
}
